#Entornos Virtuales
/ia_env
/venv
/.venv

#Archivos de Caché de Python
pycache/
*.pyc
*.pyo
*.pyd

#Archivos generados por el proyecto
*.h5
*.npy


training_data_*.json

#Archivos de configuración de IDEs
.vscode/
.idea/